/* change this */
#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color:white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
  width: 300px;
  color: #333333;
}

#modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal-content .error-ul {
  background-color: #FFCCCC;
  padding: 15px;
  list-style: none;
}

#modal-content h2 {
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 30px;
}

#modal-content input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 30px;
  width: 190px;
  outline: 0;
  border-width: 0 0 0.5px;
  font-size: 15px;
}

#modal-content .input-container {
  position: relative;
  width: fit-content;
}

#modal-content .password-input-container {
  margin-top: 10px;
}

#modal-content i {
  position: absolute;
  left: 5px;
  top: 13px;
  color: gray;
}

#modal-content input:focus {
  border-color: green;
}

#modal-content button {
  width: 220px;
  background-color: #64d098;
  border: none;
  border-radius: 3px;
  padding: 7px;
  margin-top: 15px;
  margin-bottom: 5px;
}

#modal-content button:hover {
  background-color: #9fe2bf;
}
