.homepage-content {
  display: flex;
  justify-content: center;
}

.main-photo {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #000000;
  padding-bottom: 100px;
  height: 80%;
}

.homepage-photo-main {
  margin-top: 20px;
  border-radius: 15px;
  width: 80%;
}

.main-caption {
  position: absolute;
  left: auto;
  bottom: 35%;
  z-index: 2;
  color: #FFFFFF;
  font-size: 20px;
}

.main-link {
  position: absolute;
  left: auto;
  bottom: 25%;
  z-index: 2;
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 12px;
  width: 10%;
  text-align: center;
  text-decoration: none;
}
