.location-view-container {
  margin-top: 15px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
}

.location-view-group1 {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.location-view-group2 {
  padding: 20px;
}

.location-details-head {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.location-details-img {
  border-radius: 15px;
  width: 575px;
  height: 575px;
}

.add-review-form {
  width: 110%;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-review-form h3 {
  margin-left: 35px;
  margin-top: 5px;
  padding-top: 10px;
}

.add-review-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 10px;
}

.add-review-form button {
  padding: 5px;
  border-radius: 10px;
  width: 150px;
  margin-top: 5px;
  border: 3px solid #64d098;
}

.add-review-form button:hover {
  background-color: #64d098;
}

.add-review-form .form-input {
  padding: 10px;
  width: 90%;
  border-radius: 15px;
  border: 1px solid gray;
}

.add-review-form input {
  margin-bottom: 10px;
  outline-color: #64d098;
}

.add-review-form textarea {
  height: 90px;
  outline-color: #64d098;
}

.review-container {
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 110%;
}

.review-edit-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.review-edit-form input, .review-edit-form textarea {
  border-radius: 10px;
  margin: 5px;
}

.review-container li {
  margin: 5px;
  margin-bottom: 15px;
  width: 42%;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 15px;
  padding-bottom: 5px;
}

.review-container li button {
  border-radius: 10px;
  border: 0;
  margin: 10px 5px 0 0px;
  padding: 5px;
  border: 2px solid transparent;
}

.review-container li button:hover {
  border: 2px solid #64d098;
  box-sizing: border-box;
}

.review-container h3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-weight: normal;
}

.review-user {
  font-size: 13px;
  display: inline-block;
}

.review-date {
  font-size: 10px; 
  display: inline-block;
}

.review-errors li {
  box-shadow: none;
  margin: 0;
  width: fit-content;
}

.review-errors {
  background-color: #FFCCCC;
  list-style: none;
  width: 100%;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.review-li {
  height: fit-content;
}


@media screen and (max-width: 500px) {
  .location-details-img {
    width: 320px;
    height: 320px;
  }

  .location-details-head {
    width: 320px;
  }
}
