.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
  width: 30%;
}
