.nav-container {
  /* figure out the coloration of navbar later */
  background-color: #000000;
  list-style: none;
  margin: 0px;
  padding: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-nav {
  text-decoration: none;
  font-size: 20px;
}


/* profile button dropdown css  */
.profile-dropdown {
  position: absolute;
  list-style: none;
  right: 12px;
  background-color: white;
  border-radius: 8px;
  margin-top: 9px;
  padding: 0px;
  font-size: 15px;
  z-index: 3;
}

.dropdown-btn {
  border-radius: 15px;
  background-color: white;
  border: none;
}

.dropdown-icon {
  margin: 5px;
}

.dropdown-item button {
  border: none;
  background-color: white;
}

.dropdown-group2 .dropdown-item:hover {
  background-color: gray;
  border-radius: 0 0 8px 8px;
}

.dropdown-group2 .dropdown-item-square:hover {
  background-color: gray;
}

.dropdown-item, .dropdown-item-square {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav search bar */
.nav-places-search {
  color: white;
  position: relative;
  text-decoration: none;
}

.searchbar-popup {
  color: white;
  position: absolute;
  /* edit based on searchbar contents  */
  left: -35px;
  top: 30px;
  padding: 15px;
  border-radius: 15px;
  border: 0;
  color: black;
}

#searchSelected {
  text-decoration: underline;
}

.nav-active {
  text-decoration: underline;
}

